.task-form {
  display: flex;
  gap: 10px;
  margin: 10px;
  justify-content: flex-start;
  max-width: 500px;
  align-items: flex-start;
}

.task-input-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 160px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.task-textarea {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.task-submit {
  width: 20%;
  min-height: 160px;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #5e209c;
  color: white;
  cursor: pointer;
  align-self: flex-start;
}

.task-submit:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
